kestra/vulnerability_scan.yaml
id: vulnerability_scan
namespace: patchy
description: Scans a GitHub repository for known security vulnerabilities using OSV. Detects dependencies, resolves versions, and produces a markdown security report summarizing vulnerabilities by severity.

inputs:
  - id: installation_id
    type: STRING
    required: true
    description: Installation ID
  - id: repository
    type: STRING
    required: true
    description: Full name of the repository in format user_name/repository_name

outputs:
  - id: security_report
    type: FILE
    value: "{{ outputs.osv_scan.outputFiles['repos/' ~ inputs.repository ~ '/osv_scan.md'] }}"

tasks:
  - id: get_token
    type: io.kestra.plugin.core.flow.Subflow
    namespace: patchy
    inputs:
      installation_id: "{{inputs.installation_id}}"
    flowId: get_auth_token

  - id: repo_workspace
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clean
        type: io.kestra.plugin.scripts.shell.Commands
        commands:
          - rm -rf repo/{{inputs.repository}}
          
      - id: clone_repo
        type: io.kestra.plugin.git.Clone
        url: https://github.com/{{inputs.repository}}
        password: "{{ outputs.get_token.outputs.gh_token }}"
        username: patchyai
        directory: "repos/{{inputs.repository}}"

      - id: osv_scan
        type: io.kestra.plugin.scripts.shell.Commands
        containerImage: xkaper001/patchy:latest
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          user: root
        commands:
          - set -uxo pipefail
          - ls -laR repos/{{inputs.repository}}
          - cd repos/{{inputs.repository}}
          - osv-scanner -r . --format markdown > osv_scan.md 2>&1 || true
        outputFiles:
          - repos/{{inputs.repository}}/osv_scan.md
