kestra/vulnerability_fix.yaml
id: vulnerability_fix
namespace: patchy
description: Automatically fixes vulnerabilities in a repository using osv-scanner. Creates a fix branch, applies fixes, commits changes, and opens a pull request.

inputs:
  - id: installation_id
    type: STRING
    required: true
    description: Installation ID
  - id: repository
    type: STRING
    required: true
    description: Full name of the repository in format user_name/repository_name
tasks:
  - id: get_token
    type: io.kestra.plugin.core.flow.Subflow
    namespace: patchy
    inputs:
      installation_id: "{{inputs.installation_id}}"
    flowId: get_auth_token

  - id: define_branch
    type: io.kestra.plugin.core.execution.SetVariables
    variables:
      patchy_branch: "fix/patchy-vulnerabilities-{{ now() | date('yyyyMMddHHmmss') }}"

  - id: repo_workspace
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clean
        type: io.kestra.plugin.scripts.shell.Commands
        commands:
          - rm -rf repo/{{inputs.repository}}
          
      - id: clone_repo
        type: io.kestra.plugin.git.Clone
        url: https://github.com/{{inputs.repository}}
        password: "{{ outputs.get_token.outputs.gh_token }}"
        username: patchyai
        directory: "repos/{{inputs.repository}}"

      - id: fix_with_cline
        type: io.kestra.plugin.scripts.shell.Commands
        containerImage: xkaper001/patchy:latest
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          user: root
        env:
          OPENROUTER_API_KEY: "{{ secret(key='OPENROUTER_API_KEY') }}"
        commands:
          - set -euxo pipefail
          - cd repos/{{inputs.repository}}
          - cline auth --provider gemini --apikey {{ kv('API_GEMINI_' ~ inputs.installation_id) }} --modelid gemini-2.5-flash
          - "cline --no-interactive --yolo -m act \"Run the command 'osv-scanner fix -L <Lockfile>' to fix all vulnerabilities. Replace <Lockfile> with the actual lockfile path (e.g., package-lock.json, yarn.lock, Gemfile.lock, requirements.txt, go.mod, etc.).\""

      - id: push_files
        type: io.kestra.plugin.git.Push
        password: "{{ outputs.get_token.outputs.gh_token }}"
        username: patchyai
        flows:
          enabled: false
        commitMessage: "fix: apply automated vulnerability fixes via cline"
        branch: "{{ vars.patchy_branch }}"
        directory: repos/{{inputs.repository}}

      - id: create_pull_request
        type: io.kestra.plugin.core.http.Request
        method: POST
        uri: https://api.github.com/repos/{{ inputs.repository }}/pulls
        headers:
          Authorization: Bearer {{ outputs.get_token.outputs.gh_token }}
          Accept: application/vnd.github+json
          X-GitHub-Api-Version: "2022-11-28"
        body: "{\"title\": \"Patchy | Automated Vulnerability Fixes\",\"head\": \"{{ vars.patchy_branch }}\",\"base\": \"main\",\"body\": \"🤖 **Automated security fixes by Patchy**\\n\\nThis PR applies automated vulnerability fixes generated by Patchy.\\n\\nPlease review before merging.\"}"