kestra/vulnerability_fix.yaml
id: vulnerability_fix
namespace: patchy
description: Applies security fixes to a repository based on a prior vulnerability scan report. Uses Cline to create a fix branch, apply patches within the approved scope, commit changes, and open a pull request if fixes were successfully applied.

inputs:
  - id: installation_id
    type: STRING
    required: true
    description: Installation ID
  - id: repository
    type: STRING
    required: true
    description: Full name of the repository in format user_name/repository_name
  - id: scan_report
    type: FILE
    description: Vulnerability report
    allowedFileExtensions:
      - .md
  - id: fix_scope
    type: STRING
    required: false
    description: "User instruction for what to fix (e.g., 'fix up only CVSS more than 8', 'fix only 1, 4, 5', or 'fix all')."
tasks:
  - id: get_token
    type: io.kestra.plugin.core.flow.Subflow
    namespace: patchy
    inputs:
      installation_id: "{{inputs.installation_id}}"
    flowId: get_auth_token

  - id: repo_workspace
    type: io.kestra.plugin.core.flow.WorkingDirectory
    inputFiles:
      "repos/{{inputs.repository}}/scan_report.md": "{{ inputs.scan_report }}"
    tasks:
      - id: clone_repo
        type: io.kestra.plugin.git.Clone
        url: https://github.com/{{inputs.repository}}
        password: "{{ outputs.get_token.outputs.gh_token }}"
        username: patchyai
        directory: "repos/{{inputs.repository}}"

      - id: fix_with_cline
        type: io.kestra.plugin.scripts.shell.Commands
        containerImage: xkaper001/patchy-cline:latest
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
          user: root
        env:
          OPENROUTER_API_KEY: "{{ secret(key='OPENROUTER_API_KEY') }}"
        commands:
          - set -euxo pipefail
          - cd repos/{{inputs.repository}}
          - cline auth --provider cerebras --apikey {{ kv('API_CEREBRAS_xkaper001') }} --modelid llama-3.3-70b
          - "cline --no-interactive --yolo -m act \"You must perform the full remediation workflow end-to-end. Steps: (1) Read scan_report.md (markdown). Respect user scope: {{ inputs.fix_scope | default('fix all') }}. (2) Apply in-repo code and dependency fixes for in-scope vulnerabilities. (3) Create a new branch off dev (name like fix/patchy-<timestamp>). (4) Commit all changes with a clear message. (5) Push the branch to origin. (6) Open a PR to base branch dev with a concise title/body. (7) Write a summary to fix_report.md: what changed, files touched, branch name, PR URL, any remaining manual steps.\""
        outputFiles:
          - repos/{{inputs.repository}}/fix_report.md
