kestra/vulnerability_scan_and_comment.yaml
id: vulnerability_scan_and_comment
namespace: patchy
description: |
  Runs an OSV vulnerability scan and posts the generated markdown report as a GitHub comment
  on the originating Issue or Pull Request.

inputs:
  - id: installation_id
    type: STRING
    required: true
    description: Installation ID
  - id: repository
    type: STRING
    required: true
    description: Full name of the repository in format user_name/repository_name
  - id: issue_number
    type: INT
    required: true
    description: Issue or Pull Request Number

outputs:
  - id: security_report
    type: FILE
    value: "{{ outputs.scan.outputs.security_report }}"

tasks:
  - id: scan
    type: io.kestra.plugin.core.flow.Subflow
    namespace: patchy
    flowId: vulnerability_scan
    inputs:
      repository: "{{ inputs.repository }}"
      installation_id: "{{ inputs.installation_id }}"

  - id: format_comment
    type: io.kestra.plugin.ai.completion.ChatCompletion
    provider:
      type: io.kestra.plugin.ai.provider.GoogleGemini
      modelName: gemini-2.5-flash-lite
      apiKey: "{{ kv('API_GEMINI_' ~ inputs.installation_id) }}"
    messages:
      - type: SYSTEM
        content: |
          You format OSV scan results for a GitHub comment. Follow this exact layout, using emojis sparingly and professionally:

          ### 🔍 Security Scan Results (OSV)

          #### 📊 Summary
          | Metric | Value |
          |------|------|
          | Total vulnerabilities | **<count>** |
          | Affected ecosystems | <comma-separated ecosystems> |
          | Overall risk | <emoji + bold severity word> |

          ---

          #### 🚨 Severity Breakdown
          | Severity | Count |
          |--------|-------|
          | 🔴 Critical (CVSS ≥ 9.0) | <count> |
          | 🟠 High (7.0 – 8.9) | <count> |
          | 🟡 Medium (4.0 – 6.9) | <count> |

          ---

          #### 🧩 Affected Dependencies
          | Severity | Package | Version | Ecosystem | CVSS |
          |--------|--------|---------|-----------|------|
          | ... rows sorted highest severity first ... |

          ---

          #### 👉 Next Steps
          | Option | Action |
          |------|--------|
          | 🔧 Fix all | Patch all detected vulnerabilities |
          | 🎯 Fix high & critical | Patch only CVSS ≥ 7.0 |
          | 📌 Selective fix | Specify packages or CVEs |

          Rules:
          - No repo paths, no PII, no absolute file system paths.
          - Keep it concise; only include rows from the scan markdown.
          - Derive counts and severity buckets from the scan data.
          - If data is missing, use 0 and list ecosystems as “Unknown”.

      - type: USER
        content: |
          Here is the raw OSV markdown report:

          {{ read(outputs.scan.outputs.security_report) }}

  - id: comment
    type: io.kestra.plugin.core.flow.Subflow
    namespace: patchy
    flowId: create_comment
    inputs:
      repository: "{{ inputs.repository }}"
      installation_id: "{{ inputs.installation_id }}"
      issue_number: "{{ inputs.issue_number }}"
      comment_body: "{{ outputs.format_comment[\"aiResponse\"] }}"
